<div class="bg-white">
    <div class="container px-6 py-10 mx-auto md:py-16">
        <div class="flex flex-col space-y-6 md:flex-row md:items-center md:space-x-6">
            <div class="w-full md:w-1/2">
                <div class="max-w-lg">
                    <h1 class="text-2xl font-medium tracking-wide text-gray-800 md:text-4xl">
                        All your contacts at one place.
                    </h1>
                    <p class="mt-2 text-gray-600">
                        Our application offers a wide range of features such as categorization, tags, and search and
                        filter options, that make it easy to quickly find any contact you need.
                    </p>
                    <div class="grid gap-6 mt-8 sm:grid-cols-2">
                        <div class="flex items-center space-x-6 text-gray-800">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7"></path>
                            </svg>
                            <span>Cloud Sync</span>
                        </div>
                        <div class="flex items-center space-x-6 text-gray-800">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7"></path>
                            </svg>
                            <span>Secured</span>
                        </div>
                        <div class="flex items-center space-x-6 text-gray-800">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7"></path>
                            </svg>
                            <span>Multi-platform Access</span>
                        </div>
                        <div class="flex items-center space-x-6 text-gray-800">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7"></path>
                            </svg>
                            <span>Import & Export</span>
                        </div>
                    </div>
                    <div *ngIf="signedUser" routerLink="/contacts" class="mt-12 text-xl p-2 bg-blue-600 hover:bg-blue-700 hover:shadow-md cursor-pointer text-white w-5/12 text-center rounded-md pl-3">
                        <span>View Your Contacts</span>
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-center w-full md:w-1/2">
                <img src="https://media.istockphoto.com/id/1359879029/vector/hybrid-team-colleagues-with-distant-online-video-call-tiny-person-concept-business-project.jpg?s=612x612&w=0&k=20&c=jxI1EWCEy7kQuyUTq_SojU0hGP2KYcdoGF-4HmLd8WY="
                    alt="car photo" class="w-full h-full max-w-2xl rounded" />
            </div>
        </div>
    </div>
    <div class="container px-6 py-10 mx-auto md:py-16">
        <div class="flex flex-col space-y-6 md:flex-row md:items-center md:space-x-6">
            <div class="flex items-center justify-center w-full md:w-1/2">
                <img src="https://classplusapp.com/growth/wp-content/uploads/2022/07/Importance-of-good-communication-skills-for-teachers.jpg"
                    alt="car photo" class="w-full h-full max-w-2xl rounded" />
            </div>
            <div class="w-full md:w-1/2">
                <div class="max-w-md mx-auto">
                    <h1 class="text-2xl font-medium tracking-wide text-gray-800 md:text-4xl">
                        Why us?
                    </h1>
                    <p class="mt-5 leading-7 text-gray-600">
                        Our application is an ideal solution for managing your contacts efficiently and effectively.
                        Our personalized and customizable app, you can keep your contacts organized, accessible, and
                        up-to-date.
                    </p>
                    <div class="grid gap-6 mt-8 sm:grid-cols-2">
                        <div class="flex items-center space-x-6 text-gray-800">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7"></path>
                            </svg>
                            <span>Improved User Experience</span>
                        </div>
                        <div class="flex items-center space-x-6 text-gray-800">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7"></path>
                            </svg>
                            <span>Better Data Management</span>
                        </div>
                        <div class="flex items-center space-x-6 text-gray-800">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7"></path>
                            </svg>
                            <span>Enhanced Security</span>
                        </div>
                        <div class="flex items-center space-x-6 text-gray-800">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7"></path>
                            </svg>
                            <span>Integrations with other Interative Apps </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>